{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'BatchCalculator/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'BatchCalculator/style.css' %}">
	<meta charset="UTF-8">
	<title>Batch Calculator</title>
</head>
<body>
    
	<header>
	   {% block header %}
	   <h1></h1>
       <a href="{% url 'rawmateriallist' %}">raw materials</a>
	   {% endblock %} 
	</header>

	<div>
    {% block main %}
    <h1> hello world, this is batchcalculator </h1> <a href="http://google.com">raw materials</a>
    {% endblock %}
	</div>
	
	{% block footer %}
	<footer>
	
	<p>Author: &copy; Nikolay Kuriakin</p>
	
	</footer>
	{% endblock %}

</body>
</html>