{% extends "base.html" %}

    {% block content %}
	<table>
	<tr>
		<th>Raw Materials</th>
		{% for oxide in oxideNames%}
		<th>{{oxide|safe}}
		{% endfor %}
		<th>Edit</th>
	</tr>
	
	{% for material, Name, id in compositions %}
	<tr>
	    <td>{{Name}}</td>
	    {%for index in material %}
	    	<td>{{index}}</td>
	    {% endfor %}

	    
	    <td><button><a href="/edit/{{id}}">Edit</a></button><button><a href="/delete/{{id}}">Delete</a></button></td>
	    </tr>
	{% endfor %}

	</table>
	<a href="{% url 'addmateriallist' %}" class="addElem">Add Raw Material</a>
	{% endblock %}