{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'BatchCalculator/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'BatchCalculator/css/style.css' %}">
    {% block headscripts %}
	{% endblock %}
	<meta charset="UTF-8">
	<title>Glass Batch Calculator</title>
</head>
<body>
    
	<header>
		{% block header %}
		<h1><a href = '/'>Glass Batch Calculator</h1></a>
    	<div class='menu'>
    		<a href="{% url 'rawmateriallist' %}">raw materials</a>
    		<a href="{% url 'calculate' %}">glass batch</a>
    		{% if user.is_anonymous %}
    		<div class='account'>
    			<a href="{% url 'login' %}">login</a>
    			<a href="{% url 'register' %}">register</a>
    		</div>
    		{% else %}
    		<p>Welcome, {{user.username}}!</p> <a href="{% url 'logout' %}">log out</a>
    		{% endif %}

    	</div>
	   {% endblock %} 
	</header>

	<div class='content'>
    {% block content %}
    <h1> hello world, this is batchcalculator </h1>
    {% endblock %}
	</div>
	
	{% block footer %}
	<footer>
	
	<p>2016 &copy; Nikolay Kuriakin</p>
	
	</footer>
	{% endblock %}

	{% block scripts %}
	{% endblock %}
</body>
</html>