body{
	margin: 0 auto;
	background: #efefef;
	padding: 0;
	font: 400 20px/1.8 Arial, sans-serif;
}

header{
	background: #555;
	padding: 10px;
	font-family: Courier, sans-serif;
	line-height: 0.8;
	
}
a{
		display: inline-block;
		text-decoration: none;
}
header a{
	display: inline-block;
	color: white;
	font-size 0.6em;

	background: #333;
	padding: 3px 10px;
}
header h1{
	color: #fff;
	margin: 10px 0;
	text-align: center;
	
	min-width: 100%;
}

header h1 a{
	background: none;
}
.menu{
	padding: 15px;
	position: relative;
}
.account{
	display: inline-block;
	position: absolute;
	right: 0;
}

.content{
	padding: 15px;
}

span.helptext{
	display: none;
}
table {
	border-collapse: collapse;
	display: inline-block;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}
th, td{
	border: 1px dotted #555;
}
/*tr>td:last-of-type{
	border: none;
}*/
td {
	padding: 2px 5px;
}

.addElem{
	background: #555;
	width: 170px;
	color: white;
	text-align: center;
	margin: 15px 0;
}

.addElem:hover{
	cursor: pointer;
}

footer > p{
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	top: 50%;

}

label{
	display: block;
	width: 30%;
}

form.material label{
	display: inline-block;
	width: 30%;
}

ul.errorlist{
	color:red;
	background: white;
	position:fixed;
	width: 50%;
	right: 0;
}

/*sticky footer*/

html, body {
    height: 100%;
}
.content {
  min-height: 90%;
  /* equal to footer height */
    margin-bottom: -100px; 
}
.content:after {
  content: "";
  display: block;
}
footer, .content:after {
  /* .push must be the same height as footer */
    height: 100px; 
}
footer {
  background: white;
  position: relative;
}
@media (max-width: 600px) {
	header{
		height: 200px;
	}
  .account {
    display: block;
    padding: 20px;
  }
}